<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Nota de Entrada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="Static/CSS/styles.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Cadastro de Nota de Entrada</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="form-section">
                    <h3>Cabeçalho Nota de Entrada</h3>
                    <form action="{{ url_for('entrada.consultar_fornecedor') }}" method="post">
                        <!-- Seção de Chave de Acesso -->
                        <div class="form-group">
                            <label>Possui Chave de Acesso?</label>
                            <div>
                                <input type="radio" name="chave_acesso" value="sim" id="chave-sim" onclick="toggleChaveAcesso()" checked> Sim
                                <input type="radio" name="chave_acesso" value="nao" id="chave-nao" onclick="toggleChaveAcesso()"> Não
                            </div>
                        </div>

                        <div class="form-group mb-3" id="campo-chave-acesso">
                            <label for="CHV_ACESSO">Chave de Acesso:</label>
                            <input type="number" class="form-control" name="CHV_ACESSO">
                        </div>

                        <!-- Outros campos do formulário -->
                        <div class="row mb-3">
                            <div class="col-md-4 form-group">
                                <label for="NF_ENTRADA">Número Nota:</label>
                                <input type="text" class="form-control" name="NF_ENTRADA" value="{{ dados.get('NF_ENTRADA', '') }}">
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="Dat_Entrada">Data Emissão:</label>
                                <input type="date" class="form-control" name="Dat_Entrada" value="{{ dados.get('Dat_Entrada', '') }}">
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="CNPJ_FORN">CNPJ Fornecedor:</label>
                                <input type="text" class="form-control" name="CNPJ_FORN" value="{{ dados.get('CNPJ_FORN', '') }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Fantasia">Razão Social:</label>
                            <input type="text" class="form-control" name="Fantasia" value="{{ dados.get('Fantasia', '') }}">
                        </div>

                        <div class="final-buttons text-center">
                            <button type="submit" class="btn btn-primary">Consultar</button>
                            <button type="button" class="btn btn-primary" onclick="cad_forne()">Cadastrar</button>
                        </div>
                        <br>
                        <div class="form-group mb-3">
                            <div class="row mb-3">
                                <div class="col-md-4 form-group">
                                    <label for="Qtd_Total">Quantidade (Und):</label>
                                    <input type="number" class="form-control" name="Qtd_Total">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="Vlr_Total">Valor Bruto (R$):</label>
                                    <input type="text" class="form-control" name="Vlr_Total">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="Vlr_Desc">Desconto (%):</label>
                                    <input type="text" class="form-control" name="Vlr_Desc">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Seção dos itens da nota -->
            <div class="col-md-6">
                <div class="form-section">
                    <h3>Itens</h3>
                    <form action="{{ url_for('entrada.inserir_item') }}" method="post">
                        <div class="form-group">
                            <label for="Descricao">Descrição:</label>
                            <input type="text" class="form-control" name="Descricao">
                        </div>
                        <div class="form-group mb-3">
                            <div class="row mb-3">
                                <div class="col-md-4 form-group">
                                    <label for="ID">ID:</label>
                                    <input type="text" class="form-control" name="ID">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="EAN">EAN:</label>
                                    <input type="text" class="form-control" name="EAN">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="Marca">Marca / Modelo:</label>
                                    <input type="text" class="form-control" name="Marca">
                                </div>
                            </div>
                        </div>

                        <div class="final-buttons">
                            <button type="button" class="btn btn-primary">Consultar</button>
                            <button type="button" class="btn btn-primary" onclick="$('#cadastrarProduto').modal('show')">Cadastrar</button>
                        </div>
                        <br>
                        <div class="form-group mb-3">
                            <div class="row mb-3">
                                    <div class="col-md-4 form-group">
                                        <label for="Qtd_Item">Quantidade (Und):</label>
                                        <input type="number" class="form-control" name="Qtd_Item">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="Vlr_Bruto">Valor Bruto (R$):</label>
                                        <input type="text" class="form-control" name="Vlr_Bruto">
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="Vlr_Desc">Desconto (%):</label>
                                        <input type="text" class="form-control" name="Vlr_Desc">
                                    </div>
                            </div>
                        </div>

                        <div class="final-buttons">
                            <button type="submit" class="btn btn-primary">Inserir</button>
                            <button type="button" class="btn btn-secondary">Cancelar</button>
                        </div>
                    </form>

                    <!-- Área para exibir itens inseridos -->
                    <h3 class="mt-4">Itens Inseridos</h3>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" readonly></textarea>
                    </div>

                    <div class="final-buttons">
                        <button type="button" class="btn btn-primary">Finalizar</button>
                        <button type="button" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal - Cadastrar Fornecedor-->
    <div class="modal fade" id="cadastrarFornecedor" tabindex="-1" role="dialog" aria-labelledby="cadastrarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastrarModalLabel">Cadastrar Fornecedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Fantasia">Razão Social:</label>
                        <input type="text" class="form-control" name="Fantasia">
                    </div>
                    <br>
                    <div> 
                        <label for="cnpjcadastro">CNPJ Fornecedor:</label>  
                        <input type="text" class="form-control" name="CNPJ_FORN">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Compra: </label>
                        <div>
                            <input type="radio" name="compra" value="Web" checked  onchange="toggleFields_cad()"> Web
                            <input type="radio" name="compra" value="Lj_F" onchange="toggleFields_cad()"> Loja Física
                        </div>
                    </div>
                    
                    <!-- Campo para o site do fornecedor -->
                    <div id="webField" class="form-group">
                        <label for="website">Site do Fornecedor:</label>
                        <input type="url" class="form-control" name="website" placeholder="https://">
                    </div>
                    
                    <!-- Campos para endereço do fornecedor -->
                    <div id="addressFields" style="display: none;">
                        <div class="form-group mb-3">
                            <div class="row mb-3">
                                <div class="col-md-4 form-group">                       
                                    <label for="rua">Rua:</label>
                                    <input type="text" class="form-control" name="rua">
                                </div>
                                <div class="col-md-4 form-group">                       
                                    <label for="rua">Nº:</label>
                                    <input type="text" class="form-control" name="numero">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row mb-3">
                                <div class="col-md-4 form-group">                           
                                    <label for="bairro">Bairro:</label>
                                    <input type="text" class="form-control" name="bairro">
                                </div>
                                <div class="col-md-4 form-group">  
                                    <label for="estado">Complemento:</label>
                                    <input type="text" class="form-control" name="complemento">
                                </div>                                   
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row mb-3">
                                <div class="col-md-4 form-group">  
                                    <label for="cidade">Cidade:</label>
                                    <input type="text" class="form-control" name="cidade">
                                </div>
                                <div class="col-md-4 form-group">                         
                                    <label for="estado">Estado(UF):</label>
                                    <input type="text" class="form-control" name="estado">
                                </div>
                                <div class="col-md-4 form-group">   
                                    <label for="cep">CEP:</label>
                                    <input type="text" class="form-control" name="cep">                            
                                </div>
                            </div>                            
                        <div>
                    </div>
                </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar Cadastro</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal - Cadastrar Produto -->
    <div class="modal fade" id="cadastrarProduto" tabindex="-1" role="dialog" aria-labelledby="cadastrarprodModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastrarprodModalLabel">Cadastrar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <!-- Conteúdo do modal -->
                    <form>
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <input type="text" class="form-control" id="descricao" name="descricao">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="Static/JS/scripts.js"></script>
</body>
</html>
