<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Brindes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Saída</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('saida.consultar_brinde') }}" method="post">
            <div class="form-group">
                <label for="">Brinde:</label>
                <input type="text" class="form-control" name="CNPJ_FORN" required>
            </div>
            <button type="submit" class="btn btn-primary">Consultar Brinde</button>
        </form>

        <form action="{{ url_for('saida.inserir_fornecedor') }}" method="post">
            <div class="form-group">
                <label for="Fantasia">Fantasia:</label>
                <input type="text" class="form-control" name="Fantasia" required>
            </div>
            
        </form>
        <form action="{{ url_for('saida.inserir_nota') }}" method="post">
            <div class="form-group">
                <label for="NF_ENT">Número Nota Fiscal de Entrada:</label>
                <input type="text" class="form-control" name="NF_ENT" required>
            </div>
            <div class="form-group">
                <label for="Dat_Entrada">Data:</label>
                <input type="date" class="form-control" name="Dat_Entrada" required>
            </div>
            <div class="form-group">
                <label for="Qtd_Total">Quantidade Nota:</label>
                <input type="number" class="form-control" name="Qtd_Total" required>
            </div>
            <div class="form-group">
                <label for="Vlr_Total">Valor Nota:</label>
                <input type="number" class="form-control" name="Vlr_Total" required>
            </div>
            <!-- Adicionar campos de produto aqui -->
            <button type="submit" class="btn btn-primary">Inserir Nota</button>
        </form>

        {% if fornecedor_df is defined %}
            <h2 class="mt-5">Fornecedor</h2>
            {{ fornecedor_df.to_html(classes="table table-bordered") | safe }}
        {% endif %}

        {% if nota_df is defined %}
            <h2 class="mt-5">Notas de Entrada</h2>
            {{ nota_df.to_html(classes="table table-bordered") | safe }}
        {% endif %}
    </div>
</body>
</html>
